@model Sistema_simples.Models.Emprestimo

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            cod.Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            cod.Produto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoId)
        </dd>
        <dt class = "col-sm-2">
            Quantidade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class = "col-sm-2">
            Dt.Emprestimo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class = "col-sm-2">
            Dt.Devolução
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_devolucao)
        </dd>
        <dt class = "col-sm-2">
            Status
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            Informações adicionais
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.informacoes_adicionais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a>
    <a asp-action="Index"class="btn btn-secondary">Back to List</a>
</div>
