@model IEnumerable<Sistema_simples.Models.Produto>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Quantidade Disponivel
            </th>
            <th>
                Observação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-success">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-warning">Detalhes</a> 
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
